<div class="signup-form my-5 pb-3">
    <div class="head">
        <h2 class="head-text">ショップでログイン</h2>
    </div>
    <div class="container">
        <%= form_with url: shops_login_path, local: true do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="field mb-3 mt-3">
            <%= f.label :auth_id, 'ID' %><br>
            <%= f.text_field :auth_id, class: 'input-form' %>
        </div>
        <div class="field mb-3">
            <%= f.label :password, 'パスワード' %><br>
            <%= f.password_field :password, class: 'input-form' %>
        </div>
        <div class="actions">
            <%= f.submit "ログイン" ,class: 'button' %>
        </div>
        <% end %>
    </div>
</div>